# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.cache

# =====================
# Virtualenv
# =====================
.venv/
venv/
env/

# =====================
# Environment / secrets
# =====================
.env
.env.*
*.secret

# =====================
# Downloaded music
# =====================
*.mp3
*.flac
*.wav
*.m4a
*.opus
*.ogg

# =====================
# yt-dlp parts
# =====================
*.part
*.ytdlp
*.temp

# =====================
# OS 
# =====================
.DS_Store
Thumbs.db
.directory

# =====================
# IDE / editor
# =====================
.vscode/
.idea/
*.swp
*.swo
# =====================
# config
# =====================
config.json
dist/
